body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 40px;
    line-height: 1.8;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

header {
    text-align: center;
    margin-bottom: 30px;
}

header img {
    width: 400px;
    border-radius: 10%;
}

img {
    user-drag: none;
    -webkit-user-drag: none;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

footer {
    text-align: center;
    font-size: 0.9em;
    color: rgba(0, 0, 0, 0.4);
    /* margin-top: 30px; */
    /* padding-bottom: 10px; */
}

footer a {
    color: rgba(0, 123, 255, 0.7);
    text-decoration: none;
    font-weight: 500;
}

.about-me, .projects, .coursework, .other {
    max-width: 1000px;
    margin: 0 auto 30px;
}

.about-me {
    display: flex;
    align-items: center;
    gap: 25px;
}

.about-me img {
    width: 250px;
    border-radius: 15px;
}

.about-me .text {
    flex: 1;
    max-width: 700px;
}

.links-container {
    display: flex;
    gap: 30px;
}

.links-container a, .project-links a, .inline-link, .other-links a {
    color: #007bff;
    text-decoration: none;
    font-weight: normal;
}

.github-logo {
    width: 30px !important;
}

.projects-title, .other-title, .coursework-title {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 40px;
}

.projects-icon, .other-icon, .coursework-icon {
    width: 50px;
    position: relative;
    top: -5px;
}

.project {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-left: 40px;
    margin-bottom: 15px;
}

.project-text {
    flex: 1;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.project-text h3 {
    font-weight: 550;
}

.project img, .project-gif {
    width: 150px;
    object-fit: cover;
    margin-left: 20px;
    border-radius: 5px;
    margin-top: 5px;
}

.project-gif {
    width: 300px !important;
}

.coursework-title {
    font-size: 1.4em;
}

.coursework-icon {
    width: 40px;
    position: relative;
    top: -3px;
}

.course {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 40px;
    margin-bottom: 10px;
}

.course-text {
    flex: 1;
    max-width: 800px;
}

.course-text h3 {
    font-weight: 500;
    font-size: 1.1em;
    margin-bottom: 3px;
}

.course-text p {
    font-size: 0.9em;
    color: #444;
}

.other-links {
    display: flex;
    align-items: center;
    margin-left: 40px;
}

.space {
    width: 30px;
    display: inline-block;
}

.bracket {
    color: #000;
}

.back-link {
    text-decoration: none;
    color: #007bff;
    font-weight: normal;
}

.back-link:visited,
.back-link:active,
.back-link:hover {
    color: #007bff; 
    text-decoration: none;
}

.other-image {
    display: block;
    margin: 20px auto;
    max-width: 20%; 
    height: auto;
    border-radius: 10px;
    margin-left: 4%; 
}

.contribution-image {
    display: block;
    margin: 20px auto;
    width: 30%; 
    height: auto;
    aspect-ratio: 4 / 3;  
}

/* MOBILE SUPPORT */

@media (max-width: 768px) {
    body {
        padding: 20px;
    }

    header img {
        width: 80%;
    }

    .about-me {
        flex-direction: column;
        text-align: center;
    }

    .about-me img {
        width: 70%;
    }

    .links-container {
        flex-direction: column;
        gap: 15px;
        align-items: center;
    }

    .projects-title, .coursework-title {
        margin-left: 10px;
        font-size: 1.5em;
    }

    .project {
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding-left: 0;
    }

    .project img, .project-gif {
        width: 90%;
        margin: 10px 0;
    }

    .other {
        display: none !important;
    }

    .other-links {
        display: none;
    }
}
